@model ProductViewModel
@*razor*@
@{
    var popularClass = Model.Products.Count > 2 ? "popular" : " ";
    var products = Model.Products;
   

}

@section MessageBox
{
     <div class="alert alert-warning text-center m-0">You have a message</div>
}
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
}

    @* ürünler *@

    @if (products.Count == 0)
    {
        @await Html.PartialAsync("_noproduct")
    }
    else
    {
        <div class="row">
            @foreach (var item in products)
            {
                <div class="col-md-3">
                    @await Html.PartialAsync("_product",item)
                </div>
            }

        </div>
    }
 